%h2.page-title
	Icons
	%small Large set of built-in icons
%section.widget.widget-tabs
	%header
		%ul.nav.nav-tabs
			%li.active
				%a{"data-toggle" => "tab", :href => "#tab1"} Glypicons
			%li
				%a{"data-toggle" => "tab", :href => "#tab2"}
					FA 4.1
					%span.label.label-danger.mt-n-xs new
			%li
				%a{"data-toggle" => "tab", :href => "#tab3"} Web Application
			%li
				%a{"data-toggle" => "tab", :href => "#tab4"} Spinner
			%li
				%a{"data-toggle" => "tab", :href => "#tab5"} Text Editor
			%li
				%a{"data-toggle" => "tab", :href => "#tab6"} Brand
			%li
				%a{"data-toggle" => "tab", :href => "#tab7"} Other
	#tabs1c.body.tab-content
		#tab1.tab-pane.active
			%h3
				Built-in
				%span.fw-semi-bold Glyphicons
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-asterisk>
					asterisk
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-plus>
					plus
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-euro>
					euro
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-minus>
					minus
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-cloud>
					cloud
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-envelope>
					envelope
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-pencil>
					pencil
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-glass>
					glass
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-music>
					music
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-search>
					search
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-heart>
					heart
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-star>
					star
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-star-empty>
					star-empty
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-user>
					user
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-film>
					film
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-th-large>
					th-large
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-th>
					th
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-th-list>
					th-list
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-ok>
					ok
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-remove>
					remove
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-zoom-in>
					zoom-in
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-zoom-out>
					zoom-out
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-off>
					off
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-signal>
					signal
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-cog>
					cog
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-trash>
					trash
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-home>
					home
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-file>
					file
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-time>
					time
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-road>
					road
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-download-alt>
					download-alt
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-download>
					download
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-upload>
					upload
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-inbox>
					inbox
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-play-circle>
					play-circle
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-repeat>
					repeat
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-refresh>
					refresh
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-list-alt>
					list-alt
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-lock>
					lock
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-flag>
					flag
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-headphones>
					headphones
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-volume-off>
					volume-off
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-volume-down>
					volume-down
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-volume-up>
					volume-up
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-qrcode>
					qrcode
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-barcode>
					barcode
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-tag>
					tag
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-tags>
					tags
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-book>
					book
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-bookmark>
					bookmark
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-print>
					print
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-camera>
					camera
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-font>
					font
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-bold>
					bold
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-italic>
					italic
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-text-height>
					text-height
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-text-width>
					text-width
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-align-left>
					align-left
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-align-center>
					align-center
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-align-right>
					align-right
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-align-justify>
					align-justify
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-list>
					list
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-indent-left>
					indent-left
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-indent-right>
					indent-right
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-facetime-video>
					facetime-video
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-picture>
					picture
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-map-marker>
					map-marker
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-adjust>
					adjust
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-tint>
					tint
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-edit>
					edit
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-share>
					share
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-check>
					check
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-move>
					move
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-step-backward>
					step-backward
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-fast-backward>
					fast-backward
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-backward>
					backward
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-play>
					play
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-pause>
					pause
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-stop>
					stop
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-forward>
					forward
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-fast-forward>
					fast-forward
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-step-forward>
					step-forward
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-eject>
					eject
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-chevron-left>
					chevron-left
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-chevron-right>
					chevron-right
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-plus-sign>
					plus-sign
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-minus-sign>
					minus-sign
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-remove-sign>
					remove-sign
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-ok-sign>
					ok-sign
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-question-sign>
					question-sign
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-info-sign>
					info-sign
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-screenshot>
					screenshot
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-remove-circle>
					remove-circle
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-ok-circle>
					ok-circle
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-ban-circle>
					ban-circle
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-arrow-left>
					arrow-left
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-arrow-right>
					arrow-right
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-arrow-up>
					arrow-up
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-arrow-down>
					arrow-down
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-share-alt>
					share-alt
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-resize-full>
					resize-full
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-resize-small>
					resize-small
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-exclamation-sign>
					exclamation-sign
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-gift>
					gift
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-leaf>
					leaf
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-fire>
					fire
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-eye-open>
					eye-open
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-eye-close>
					eye-close
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-warning-sign>
					warning-sign
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-plane>
					plane
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-calendar>
					calendar
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-random>
					random
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-comment>
					comment
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-magnet>
					magnet
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-chevron-up>
					chevron-up
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-chevron-down>
					chevron-down
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-retweet>
					retweet
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-shopping-cart>
					shopping-cart
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-folder-close>
					folder-close
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-folder-open>
					folder-open
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-resize-vertical>
					resize-vertical
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-resize-horizontal>
					resize-horizontal
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-hdd>
					hdd
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-bullhorn>
					bullhorn
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-bell>
					bell
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-certificate>
					certificate
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-thumbs-up>
					thumbs-up
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-thumbs-down>
					thumbs-down
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-hand-right>
					hand-right
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-hand-left>
					hand-left
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-hand-up>
					hand-up
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-hand-down>
					hand-down
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-circle-arrow-right>
					circle-arrow-right
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-circle-arrow-left>
					circle-arrow-left
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-circle-arrow-up>
					circle-arrow-up
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-circle-arrow-down>
					circle-arrow-down
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-globe>
					globe
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-wrench>
					wrench
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-tasks>
					tasks
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-filter>
					filter
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-briefcase>
					briefcase
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-fullscreen>
					fullscreen
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-dashboard>
					dashboard
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-paperclip>
					paperclip
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-heart-empty>
					heart-empty
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-link>
					link
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-phone>
					phone
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-pushpin>
					pushpin
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-usd>
					usd
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-gbp>
					gbp
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-sort>
					sort
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-sort-by-alphabet>
					sort-by-alphabet
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-sort-by-alphabet-alt>
					sort-by-alphabet-alt
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-sort-by-order>
					sort-by-order
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-sort-by-order-alt>
					sort-by-order-alt
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-sort-by-attributes>
					sort-by-attributes
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-sort-by-attributes-alt>
					sort-by-attributes-alt
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-unchecked>
					unchecked
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-expand>
					expand
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-collapse-down>
					collapse-down
				.icon-list-item.col-md-3.col-sm-4
					%span.glyphicon.glyphicon-collapse-up>
					collapse-up
		#tab2.tab-pane
			%h3
				Awesome
				%span.fw-semi-bold Font Awesome
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/car"}
						%i.fa.fa-automobile
						automobile
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/university"}
						%i.fa.fa-bank
						bank
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/behance"}
						%i.fa.fa-behance
						behance
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/behance-square"}
						%i.fa.fa-behance-square
						behance-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bomb"}
						%i.fa.fa-bomb
						bomb
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/building"}
						%i.fa.fa-building
						building
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/taxi"}
						%i.fa.fa-cab
						cab
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/car"}
						%i.fa.fa-car
						car
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/child"}
						%i.fa.fa-child
						child
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/circle-o-notch"}
						%i.fa.fa-circle-o-notch
						circle-o-notch
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/circle-thin"}
						%i.fa.fa-circle-thin
						circle-thin
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/codepen"}
						%i.fa.fa-codepen
						codepen
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cube"}
						%i.fa.fa-cube
						cube
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cubes"}
						%i.fa.fa-cubes
						cubes
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/database"}
						%i.fa.fa-database
						database
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/delicious"}
						%i.fa.fa-delicious
						delicious
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/deviantart"}
						%i.fa.fa-deviantart
						deviantart
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/digg"}
						%i.fa.fa-digg
						digg
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/drupal"}
						%i.fa.fa-drupal
						drupal
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/empire"}
						%i.fa.fa-empire
						empire
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/envelope-square"}
						%i.fa.fa-envelope-square
						envelope-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/fax"}
						%i.fa.fa-fax
						fax
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-archive-o"}
						%i.fa.fa-file-archive-o
						file-archive-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-audio-o"}
						%i.fa.fa-file-audio-o
						file-audio-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-code-o"}
						%i.fa.fa-file-code-o
						file-code-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-excel-o"}
						%i.fa.fa-file-excel-o
						file-excel-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-image-o"}
						%i.fa.fa-file-image-o
						file-image-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-video-o"}
						%i.fa.fa-file-movie-o
						file-movie-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-pdf-o"}
						%i.fa.fa-file-pdf-o
						file-pdf-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-image-o"}
						%i.fa.fa-file-photo-o
						file-photo-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-image-o"}
						%i.fa.fa-file-picture-o
						file-picture-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-powerpoint-o"}
						%i.fa.fa-file-powerpoint-o
						file-powerpoint-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-audio-o"}
						%i.fa.fa-file-sound-o
						file-sound-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-video-o"}
						%i.fa.fa-file-video-o
						file-video-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-word-o"}
						%i.fa.fa-file-word-o
						file-word-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-archive-o"}
						%i.fa.fa-file-zip-o
						file-zip-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/empire"}
						%i.fa.fa-ge
						ge
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/git"}
						%i.fa.fa-git
						git
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/git-square"}
						%i.fa.fa-git-square
						git-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/google"}
						%i.fa.fa-google
						google
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/graduation-cap"}
						%i.fa.fa-graduation-cap
						graduation-cap
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/hacker-news"}
						%i.fa.fa-hacker-news
						hacker-news
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/header"}
						%i.fa.fa-header
						header
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/history"}
						%i.fa.fa-history
						history
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/university"}
						%i.fa.fa-institution
						institution
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/joomla"}
						%i.fa.fa-joomla
						joomla
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/jsfiddle"}
						%i.fa.fa-jsfiddle
						jsfiddle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/language"}
						%i.fa.fa-language
						language
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/life-ring"}
						%i.fa.fa-life-bouy
						life-bouy
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/life-ring"}
						%i.fa.fa-life-ring
						life-ring
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/life-ring"}
						%i.fa.fa-life-saver
						life-saver
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/graduation-cap"}
						%i.fa.fa-mortar-board
						mortar-board
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/openid"}
						%i.fa.fa-openid
						openid
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paper-plane"}
						%i.fa.fa-paper-plane
						paper-plane
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paper-plane-o"}
						%i.fa.fa-paper-plane-o
						paper-plane-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paragraph"}
						%i.fa.fa-paragraph
						paragraph
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paw"}
						%i.fa.fa-paw
						paw
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pied-piper"}
						%i.fa.fa-pied-piper
						pied-piper
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pied-piper-alt"}
						%i.fa.fa-pied-piper-alt
						pied-piper-alt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pied-piper"}
						%i.fa.fa-pied-piper-square
						pied-piper-square
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/qq"}
						%i.fa.fa-qq
						qq
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rebel"}
						%i.fa.fa-ra
						ra
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rebel"}
						%i.fa.fa-rebel
						rebel
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/recycle"}
						%i.fa.fa-recycle
						recycle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/reddit"}
						%i.fa.fa-reddit
						reddit
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/reddit-square"}
						%i.fa.fa-reddit-square
						reddit-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paper-plane"}
						%i.fa.fa-send
						send
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paper-plane-o"}
						%i.fa.fa-send-o
						send-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share-alt"}
						%i.fa.fa-share-alt
						share-alt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share-alt-square"}
						%i.fa.fa-share-alt-square
						share-alt-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/slack"}
						%i.fa.fa-slack
						slack
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sliders"}
						%i.fa.fa-sliders
						sliders
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/soundcloud"}
						%i.fa.fa-soundcloud
						soundcloud
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/space-shuttle"}
						%i.fa.fa-space-shuttle
						space-shuttle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/spoon"}
						%i.fa.fa-spoon
						spoon
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/spotify"}
						%i.fa.fa-spotify
						spotify
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/steam"}
						%i.fa.fa-steam
						steam
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/steam-square"}
						%i.fa.fa-steam-square
						steam-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/stumbleupon"}
						%i.fa.fa-stumbleupon
						stumbleupon
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/stumbleupon-circle"}
						%i.fa.fa-stumbleupon-circle
						stumbleupon-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/life-ring"}
						%i.fa.fa-support
						support
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/taxi"}
						%i.fa.fa-taxi
						taxi
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tencent-weibo"}
						%i.fa.fa-tencent-weibo
						tencent-weibo
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tree"}
						%i.fa.fa-tree
						tree
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/university"}
						%i.fa.fa-university
						university
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/vine"}
						%i.fa.fa-vine
						vine
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/weixin"}
						%i.fa.fa-wechat
						wechat
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/weixin"}
						%i.fa.fa-weixin
						weixin
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/wordpress"}
						%i.fa.fa-wordpress
						wordpress
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/yahoo"}
						%i.fa.fa-yahoo
						yahoo
		#tab3.tab-pane
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/adjust"}
						%i.fa.fa-adjust
						adjust
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/anchor"}
						%i.fa.fa-anchor
						anchor
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/archive"}
						%i.fa.fa-archive
						archive
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/arrows"}
						%i.fa.fa-arrows
						arrows
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/arrows-h"}
						%i.fa.fa-arrows-h
						arrows-h
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/arrows-v"}
						%i.fa.fa-arrows-v
						arrows-v
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/asterisk"}
						%i.fa.fa-asterisk
						asterisk
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/car"}
						%i.fa.fa-automobile
						automobile
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/ban"}
						%i.fa.fa-ban
						ban
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/university"}
						%i.fa.fa-bank
						bank
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bar-chart-o"}
						%i.fa.fa-bar-chart-o
						bar-chart-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/barcode"}
						%i.fa.fa-barcode
						barcode
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bars"}
						%i.fa.fa-bars
						bars
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/beer"}
						%i.fa.fa-beer
						beer
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bell"}
						%i.fa.fa-bell
						bell
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bell-o"}
						%i.fa.fa-bell-o
						bell-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bolt"}
						%i.fa.fa-bolt
						bolt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bomb"}
						%i.fa.fa-bomb
						bomb
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/book"}
						%i.fa.fa-book
						book
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bookmark"}
						%i.fa.fa-bookmark
						bookmark
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bookmark-o"}
						%i.fa.fa-bookmark-o
						bookmark-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/briefcase"}
						%i.fa.fa-briefcase
						briefcase
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bug"}
						%i.fa.fa-bug
						bug
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/building"}
						%i.fa.fa-building
						building
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/building-o"}
						%i.fa.fa-building-o
						building-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bullhorn"}
						%i.fa.fa-bullhorn
						bullhorn
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bullseye"}
						%i.fa.fa-bullseye
						bullseye
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/taxi"}
						%i.fa.fa-cab
						cab
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/calendar"}
						%i.fa.fa-calendar
						calendar
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/calendar-o"}
						%i.fa.fa-calendar-o
						calendar-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/camera"}
						%i.fa.fa-camera
						camera
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/camera-retro"}
						%i.fa.fa-camera-retro
						camera-retro
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/car"}
						%i.fa.fa-car
						car
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/caret-square-o-down"}
						%i.fa.fa-caret-square-o-down
						caret-square-o-down
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/caret-square-o-left"}
						%i.fa.fa-caret-square-o-left
						caret-square-o-left
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/caret-square-o-right"}
						%i.fa.fa-caret-square-o-right
						caret-square-o-right
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/caret-square-o-up"}
						%i.fa.fa-caret-square-o-up
						caret-square-o-up
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/certificate"}
						%i.fa.fa-certificate
						certificate
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/check"}
						%i.fa.fa-check
						check
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/check-circle"}
						%i.fa.fa-check-circle
						check-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/check-circle-o"}
						%i.fa.fa-check-circle-o
						check-circle-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/check-square"}
						%i.fa.fa-check-square
						check-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/check-square-o"}
						%i.fa.fa-check-square-o
						check-square-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/child"}
						%i.fa.fa-child
						child
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/circle"}
						%i.fa.fa-circle
						circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/circle-o"}
						%i.fa.fa-circle-o
						circle-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/circle-o-notch"}
						%i.fa.fa-circle-o-notch
						circle-o-notch
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/circle-thin"}
						%i.fa.fa-circle-thin
						circle-thin
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/clock-o"}
						%i.fa.fa-clock-o
						clock-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cloud"}
						%i.fa.fa-cloud
						cloud
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cloud-download"}
						%i.fa.fa-cloud-download
						cloud-download
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cloud-upload"}
						%i.fa.fa-cloud-upload
						cloud-upload
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/code"}
						%i.fa.fa-code
						code
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/code-fork"}
						%i.fa.fa-code-fork
						code-fork
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/coffee"}
						%i.fa.fa-coffee
						coffee
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cog"}
						%i.fa.fa-cog
						cog
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cogs"}
						%i.fa.fa-cogs
						cogs
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/comment"}
						%i.fa.fa-comment
						comment
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/comment-o"}
						%i.fa.fa-comment-o
						comment-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/comments"}
						%i.fa.fa-comments
						comments
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/comments-o"}
						%i.fa.fa-comments-o
						comments-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/compass"}
						%i.fa.fa-compass
						compass
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/credit-card"}
						%i.fa.fa-credit-card
						credit-card
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/crop"}
						%i.fa.fa-crop
						crop
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/crosshairs"}
						%i.fa.fa-crosshairs
						crosshairs
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cube"}
						%i.fa.fa-cube
						cube
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cubes"}
						%i.fa.fa-cubes
						cubes
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cutlery"}
						%i.fa.fa-cutlery
						cutlery
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tachometer"}
						%i.fa.fa-dashboard
						dashboard
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/database"}
						%i.fa.fa-database
						database
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/desktop"}
						%i.fa.fa-desktop
						desktop
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/dot-circle-o"}
						%i.fa.fa-dot-circle-o
						dot-circle-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/download"}
						%i.fa.fa-download
						download
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pencil-square-o"}
						%i.fa.fa-edit
						edit
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/ellipsis-h"}
						%i.fa.fa-ellipsis-h
						ellipsis-h
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/ellipsis-v"}
						%i.fa.fa-ellipsis-v
						ellipsis-v
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/envelope"}
						%i.fa.fa-envelope
						envelope
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/envelope-o"}
						%i.fa.fa-envelope-o
						envelope-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/envelope-square"}
						%i.fa.fa-envelope-square
						envelope-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/eraser"}
						%i.fa.fa-eraser
						eraser
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/exchange"}
						%i.fa.fa-exchange
						exchange
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/exclamation"}
						%i.fa.fa-exclamation
						exclamation
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/exclamation-circle"}
						%i.fa.fa-exclamation-circle
						exclamation-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/exclamation-triangle"}
						%i.fa.fa-exclamation-triangle
						exclamation-triangle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/external-link"}
						%i.fa.fa-external-link
						external-link
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/external-link-square"}
						%i.fa.fa-external-link-square
						external-link-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/eye"}
						%i.fa.fa-eye
						eye
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/eye-slash"}
						%i.fa.fa-eye-slash
						eye-slash
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/fax"}
						%i.fa.fa-fax
						fax
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/female"}
						%i.fa.fa-female
						female
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/fighter-jet"}
						%i.fa.fa-fighter-jet
						fighter-jet
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-archive-o"}
						%i.fa.fa-file-archive-o
						file-archive-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-audio-o"}
						%i.fa.fa-file-audio-o
						file-audio-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-code-o"}
						%i.fa.fa-file-code-o
						file-code-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-excel-o"}
						%i.fa.fa-file-excel-o
						file-excel-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-image-o"}
						%i.fa.fa-file-image-o
						file-image-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-video-o"}
						%i.fa.fa-file-movie-o
						file-movie-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-pdf-o"}
						%i.fa.fa-file-pdf-o
						file-pdf-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-image-o"}
						%i.fa.fa-file-photo-o
						file-photo-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-image-o"}
						%i.fa.fa-file-picture-o
						file-picture-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-powerpoint-o"}
						%i.fa.fa-file-powerpoint-o
						file-powerpoint-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-audio-o"}
						%i.fa.fa-file-sound-o
						file-sound-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-video-o"}
						%i.fa.fa-file-video-o
						file-video-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-word-o"}
						%i.fa.fa-file-word-o
						file-word-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-archive-o"}
						%i.fa.fa-file-zip-o
						file-zip-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/film"}
						%i.fa.fa-film
						film
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/filter"}
						%i.fa.fa-filter
						filter
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/fire"}
						%i.fa.fa-fire
						fire
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/fire-extinguisher"}
						%i.fa.fa-fire-extinguisher
						fire-extinguisher
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/flag"}
						%i.fa.fa-flag
						flag
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/flag-checkered"}
						%i.fa.fa-flag-checkered
						flag-checkered
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/flag-o"}
						%i.fa.fa-flag-o
						flag-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bolt"}
						%i.fa.fa-flash
						flash
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/flask"}
						%i.fa.fa-flask
						flask
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/folder"}
						%i.fa.fa-folder
						folder
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/folder-o"}
						%i.fa.fa-folder-o
						folder-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/folder-open"}
						%i.fa.fa-folder-open
						folder-open
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/folder-open-o"}
						%i.fa.fa-folder-open-o
						folder-open-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/frown-o"}
						%i.fa.fa-frown-o
						frown-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/gamepad"}
						%i.fa.fa-gamepad
						gamepad
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/gavel"}
						%i.fa.fa-gavel
						gavel
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cog"}
						%i.fa.fa-gear
						gear
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cogs"}
						%i.fa.fa-gears
						gears
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/gift"}
						%i.fa.fa-gift
						gift
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/glass"}
						%i.fa.fa-glass
						glass
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/globe"}
						%i.fa.fa-globe
						globe
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/graduation-cap"}
						%i.fa.fa-graduation-cap
						graduation-cap
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/users"}
						%i.fa.fa-group
						group
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/hdd-o"}
						%i.fa.fa-hdd-o
						hdd-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/headphones"}
						%i.fa.fa-headphones
						headphones
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/heart"}
						%i.fa.fa-heart
						heart
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/heart-o"}
						%i.fa.fa-heart-o
						heart-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/history"}
						%i.fa.fa-history
						history
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/home"}
						%i.fa.fa-home
						home
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/picture-o"}
						%i.fa.fa-image
						image
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/inbox"}
						%i.fa.fa-inbox
						inbox
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/info"}
						%i.fa.fa-info
						info
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/info-circle"}
						%i.fa.fa-info-circle
						info-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/university"}
						%i.fa.fa-institution
						institution
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/key"}
						%i.fa.fa-key
						key
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/keyboard-o"}
						%i.fa.fa-keyboard-o
						keyboard-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/language"}
						%i.fa.fa-language
						language
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/laptop"}
						%i.fa.fa-laptop
						laptop
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/leaf"}
						%i.fa.fa-leaf
						leaf
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/gavel"}
						%i.fa.fa-legal
						legal
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/lemon-o"}
						%i.fa.fa-lemon-o
						lemon-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/level-down"}
						%i.fa.fa-level-down
						level-down
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/level-up"}
						%i.fa.fa-level-up
						level-up
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/life-ring"}
						%i.fa.fa-life-bouy
						life-bouy
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/life-ring"}
						%i.fa.fa-life-ring
						life-ring
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/life-ring"}
						%i.fa.fa-life-saver
						life-saver
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/lightbulb-o"}
						%i.fa.fa-lightbulb-o
						lightbulb-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/location-arrow"}
						%i.fa.fa-location-arrow
						location-arrow
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/lock"}
						%i.fa.fa-lock
						lock
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/magic"}
						%i.fa.fa-magic
						magic
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/magnet"}
						%i.fa.fa-magnet
						magnet
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share"}
						%i.fa.fa-mail-forward
						mail-forward
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/reply"}
						%i.fa.fa-mail-reply
						mail-reply
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/reply-all"}
						%i.fa.fa-mail-reply-all
						mail-reply-all
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/male"}
						%i.fa.fa-male
						male
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/map-marker"}
						%i.fa.fa-map-marker
						map-marker
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/meh-o"}
						%i.fa.fa-meh-o
						meh-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/microphone"}
						%i.fa.fa-microphone
						microphone
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/microphone-slash"}
						%i.fa.fa-microphone-slash
						microphone-slash
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/minus"}
						%i.fa.fa-minus
						minus
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/minus-circle"}
						%i.fa.fa-minus-circle
						minus-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/minus-square"}
						%i.fa.fa-minus-square
						minus-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/minus-square-o"}
						%i.fa.fa-minus-square-o
						minus-square-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/mobile"}
						%i.fa.fa-mobile
						mobile
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/mobile"}
						%i.fa.fa-mobile-phone
						mobile-phone
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/money"}
						%i.fa.fa-money
						money
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/moon-o"}
						%i.fa.fa-moon-o
						moon-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/graduation-cap"}
						%i.fa.fa-mortar-board
						mortar-board
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/music"}
						%i.fa.fa-music
						music
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bars"}
						%i.fa.fa-navicon
						navicon
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paper-plane"}
						%i.fa.fa-paper-plane
						paper-plane
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paper-plane-o"}
						%i.fa.fa-paper-plane-o
						paper-plane-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paw"}
						%i.fa.fa-paw
						paw
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pencil"}
						%i.fa.fa-pencil
						pencil
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pencil-square"}
						%i.fa.fa-pencil-square
						pencil-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pencil-square-o"}
						%i.fa.fa-pencil-square-o
						pencil-square-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/phone"}
						%i.fa.fa-phone
						phone
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/phone-square"}
						%i.fa.fa-phone-square
						phone-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/picture-o"}
						%i.fa.fa-photo
						photo
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/picture-o"}
						%i.fa.fa-picture-o
						picture-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/plane"}
						%i.fa.fa-plane
						plane
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/plus"}
						%i.fa.fa-plus
						plus
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/plus-circle"}
						%i.fa.fa-plus-circle
						plus-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/plus-square"}
						%i.fa.fa-plus-square
						plus-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/plus-square-o"}
						%i.fa.fa-plus-square-o
						plus-square-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/power-off"}
						%i.fa.fa-power-off
						power-off
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/print"}
						%i.fa.fa-print
						print
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/puzzle-piece"}
						%i.fa.fa-puzzle-piece
						puzzle-piece
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/qrcode"}
						%i.fa.fa-qrcode
						qrcode
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/question"}
						%i.fa.fa-question
						question
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/question-circle"}
						%i.fa.fa-question-circle
						question-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/quote-left"}
						%i.fa.fa-quote-left
						quote-left
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/quote-right"}
						%i.fa.fa-quote-right
						quote-right
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/random"}
						%i.fa.fa-random
						random
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/recycle"}
						%i.fa.fa-recycle
						recycle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/refresh"}
						%i.fa.fa-refresh
						refresh
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bars"}
						%i.fa.fa-reorder
						reorder
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/reply"}
						%i.fa.fa-reply
						reply
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/reply-all"}
						%i.fa.fa-reply-all
						reply-all
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/retweet"}
						%i.fa.fa-retweet
						retweet
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/road"}
						%i.fa.fa-road
						road
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rocket"}
						%i.fa.fa-rocket
						rocket
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rss"}
						%i.fa.fa-rss
						rss
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rss-square"}
						%i.fa.fa-rss-square
						rss-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/search"}
						%i.fa.fa-search
						search
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/search-minus"}
						%i.fa.fa-search-minus
						search-minus
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/search-plus"}
						%i.fa.fa-search-plus
						search-plus
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paper-plane"}
						%i.fa.fa-send
						send
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paper-plane-o"}
						%i.fa.fa-send-o
						send-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share"}
						%i.fa.fa-share
						share
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share-alt"}
						%i.fa.fa-share-alt
						share-alt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share-alt-square"}
						%i.fa.fa-share-alt-square
						share-alt-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share-square"}
						%i.fa.fa-share-square
						share-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share-square-o"}
						%i.fa.fa-share-square-o
						share-square-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/shield"}
						%i.fa.fa-shield
						shield
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/shopping-cart"}
						%i.fa.fa-shopping-cart
						shopping-cart
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sign-in"}
						%i.fa.fa-sign-in
						sign-in
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sign-out"}
						%i.fa.fa-sign-out
						sign-out
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/signal"}
						%i.fa.fa-signal
						signal
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sitemap"}
						%i.fa.fa-sitemap
						sitemap
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sliders"}
						%i.fa.fa-sliders
						sliders
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/smile-o"}
						%i.fa.fa-smile-o
						smile-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort"}
						%i.fa.fa-sort
						sort
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-alpha-asc"}
						%i.fa.fa-sort-alpha-asc
						sort-alpha-asc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-alpha-desc"}
						%i.fa.fa-sort-alpha-desc
						sort-alpha-desc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-amount-asc"}
						%i.fa.fa-sort-amount-asc
						sort-amount-asc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-amount-desc"}
						%i.fa.fa-sort-amount-desc
						sort-amount-desc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-asc"}
						%i.fa.fa-sort-asc
						sort-asc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-desc"}
						%i.fa.fa-sort-desc
						sort-desc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-desc"}
						%i.fa.fa-sort-down
						sort-down
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-numeric-asc"}
						%i.fa.fa-sort-numeric-asc
						sort-numeric-asc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-numeric-desc"}
						%i.fa.fa-sort-numeric-desc
						sort-numeric-desc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort-asc"}
						%i.fa.fa-sort-up
						sort-up
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/space-shuttle"}
						%i.fa.fa-space-shuttle
						space-shuttle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/spinner"}
						%i.fa.fa-spinner
						spinner
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/spoon"}
						%i.fa.fa-spoon
						spoon
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/square"}
						%i.fa.fa-square
						square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/square-o"}
						%i.fa.fa-square-o
						square-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/star"}
						%i.fa.fa-star
						star
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/star-half"}
						%i.fa.fa-star-half
						star-half
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/star-half-o"}
						%i.fa.fa-star-half-empty
						star-half-empty
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/star-half-o"}
						%i.fa.fa-star-half-full
						star-half-full
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/star-half-o"}
						%i.fa.fa-star-half-o
						star-half-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/star-o"}
						%i.fa.fa-star-o
						star-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/suitcase"}
						%i.fa.fa-suitcase
						suitcase
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sun-o"}
						%i.fa.fa-sun-o
						sun-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/life-ring"}
						%i.fa.fa-support
						support
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tablet"}
						%i.fa.fa-tablet
						tablet
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tachometer"}
						%i.fa.fa-tachometer
						tachometer
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tag"}
						%i.fa.fa-tag
						tag
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tags"}
						%i.fa.fa-tags
						tags
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tasks"}
						%i.fa.fa-tasks
						tasks
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/taxi"}
						%i.fa.fa-taxi
						taxi
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/terminal"}
						%i.fa.fa-terminal
						terminal
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/thumb-tack"}
						%i.fa.fa-thumb-tack
						thumb-tack
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/thumbs-down"}
						%i.fa.fa-thumbs-down
						thumbs-down
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/thumbs-o-down"}
						%i.fa.fa-thumbs-o-down
						thumbs-o-down
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/thumbs-o-up"}
						%i.fa.fa-thumbs-o-up
						thumbs-o-up
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/thumbs-up"}
						%i.fa.fa-thumbs-up
						thumbs-up
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/ticket"}
						%i.fa.fa-ticket
						ticket
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/times"}
						%i.fa.fa-times
						times
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/times-circle"}
						%i.fa.fa-times-circle
						times-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/times-circle-o"}
						%i.fa.fa-times-circle-o
						times-circle-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tint"}
						%i.fa.fa-tint
						tint
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/caret-square-o-down"}
						%i.fa.fa-toggle-down
						toggle-down
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/caret-square-o-left"}
						%i.fa.fa-toggle-left
						toggle-left
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/caret-square-o-right"}
						%i.fa.fa-toggle-right
						toggle-right
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/caret-square-o-up"}
						%i.fa.fa-toggle-up
						toggle-up
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/trash-o"}
						%i.fa.fa-trash-o
						trash-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tree"}
						%i.fa.fa-tree
						tree
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/trophy"}
						%i.fa.fa-trophy
						trophy
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/truck"}
						%i.fa.fa-truck
						truck
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/umbrella"}
						%i.fa.fa-umbrella
						umbrella
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/university"}
						%i.fa.fa-university
						university
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/unlock"}
						%i.fa.fa-unlock
						unlock
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/unlock-alt"}
						%i.fa.fa-unlock-alt
						unlock-alt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/sort"}
						%i.fa.fa-unsorted
						unsorted
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/upload"}
						%i.fa.fa-upload
						upload
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/user"}
						%i.fa.fa-user
						user
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/users"}
						%i.fa.fa-users
						users
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/video-camera"}
						%i.fa.fa-video-camera
						video-camera
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/volume-down"}
						%i.fa.fa-volume-down
						volume-down
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/volume-off"}
						%i.fa.fa-volume-off
						volume-off
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/volume-up"}
						%i.fa.fa-volume-up
						volume-up
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/exclamation-triangle"}
						%i.fa.fa-warning
						warning
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/wheelchair"}
						%i.fa.fa-wheelchair
						wheelchair
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/wrench"}
						%i.fa.fa-wrench
						wrench
		#tab4.tab-pane
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/circle-o-notch"}
						%i.fa.fa-circle-o-notch
						circle-o-notch
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cog"}
						%i.fa.fa-cog
						cog
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/cog"}
						%i.fa.fa-gear
						gear
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/refresh"}
						%i.fa.fa-refresh
						refresh
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/spinner"}
						%i.fa.fa-spinner
						spinner
		#tab5.tab-pane
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/align-center"}
						%i.fa.fa-align-center
						align-center
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/align-justify"}
						%i.fa.fa-align-justify
						align-justify
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/align-left"}
						%i.fa.fa-align-left
						align-left
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/align-right"}
						%i.fa.fa-align-right
						align-right
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bold"}
						%i.fa.fa-bold
						bold
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/link"}
						%i.fa.fa-chain
						chain
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/chain-broken"}
						%i.fa.fa-chain-broken
						chain-broken
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/clipboard"}
						%i.fa.fa-clipboard
						clipboard
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/columns"}
						%i.fa.fa-columns
						columns
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/files-o"}
						%i.fa.fa-copy
						copy
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/scissors"}
						%i.fa.fa-cut
						cut
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/outdent"}
						%i.fa.fa-dedent
						dedent
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/eraser"}
						%i.fa.fa-eraser
						eraser
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file"}
						%i.fa.fa-file
						file
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-o"}
						%i.fa.fa-file-o
						file-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-text"}
						%i.fa.fa-file-text
						file-text
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-text-o"}
						%i.fa.fa-file-text-o
						file-text-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/files-o"}
						%i.fa.fa-files-o
						files-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/floppy-o"}
						%i.fa.fa-floppy-o
						floppy-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/font"}
						%i.fa.fa-font
						font
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/header"}
						%i.fa.fa-header
						header
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/indent"}
						%i.fa.fa-indent
						indent
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/italic"}
						%i.fa.fa-italic
						italic
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/link"}
						%i.fa.fa-link
						link
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/list"}
						%i.fa.fa-list
						list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/list-alt"}
						%i.fa.fa-list-alt
						list-alt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/list-ol"}
						%i.fa.fa-list-ol
						list-ol
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/list-ul"}
						%i.fa.fa-list-ul
						list-ul
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/outdent"}
						%i.fa.fa-outdent
						outdent
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paperclip"}
						%i.fa.fa-paperclip
						paperclip
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/paragraph"}
						%i.fa.fa-paragraph
						paragraph
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/clipboard"}
						%i.fa.fa-paste
						paste
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/repeat"}
						%i.fa.fa-repeat
						repeat
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/undo"}
						%i.fa.fa-rotate-left
						rotate-left
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/repeat"}
						%i.fa.fa-rotate-right
						rotate-right
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/floppy-o"}
						%i.fa.fa-save
						save
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/scissors"}
						%i.fa.fa-scissors
						scissors
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/strikethrough"}
						%i.fa.fa-strikethrough
						strikethrough
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/subscript"}
						%i.fa.fa-subscript
						subscript
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/superscript"}
						%i.fa.fa-superscript
						superscript
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/table"}
						%i.fa.fa-table
						table
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/text-height"}
						%i.fa.fa-text-height
						text-height
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/text-width"}
						%i.fa.fa-text-width
						text-width
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/th"}
						%i.fa.fa-th
						th
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/th-large"}
						%i.fa.fa-th-large
						th-large
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/th-list"}
						%i.fa.fa-th-list
						th-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/underline"}
						%i.fa.fa-underline
						underline
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/undo"}
						%i.fa.fa-undo
						undo
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/chain-broken"}
						%i.fa.fa-unlink
						unlink
						%span.text-muted (alias)
		#tab6.tab-pane
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/adn"}
						%i.fa.fa-adn
						adn
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/android"}
						%i.fa.fa-android
						android
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/apple"}
						%i.fa.fa-apple
						apple
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/behance"}
						%i.fa.fa-behance
						behance
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/behance-square"}
						%i.fa.fa-behance-square
						behance-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bitbucket"}
						%i.fa.fa-bitbucket
						bitbucket
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/bitbucket-square"}
						%i.fa.fa-bitbucket-square
						bitbucket-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/btc"}
						%i.fa.fa-bitcoin
						bitcoin
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/btc"}
						%i.fa.fa-btc
						btc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/codepen"}
						%i.fa.fa-codepen
						codepen
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/css3"}
						%i.fa.fa-css3
						css3
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/delicious"}
						%i.fa.fa-delicious
						delicious
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/deviantart"}
						%i.fa.fa-deviantart
						deviantart
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/digg"}
						%i.fa.fa-digg
						digg
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/dribbble"}
						%i.fa.fa-dribbble
						dribbble
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/dropbox"}
						%i.fa.fa-dropbox
						dropbox
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/drupal"}
						%i.fa.fa-drupal
						drupal
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/empire"}
						%i.fa.fa-empire
						empire
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/facebook"}
						%i.fa.fa-facebook
						facebook
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/facebook-square"}
						%i.fa.fa-facebook-square
						facebook-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/flickr"}
						%i.fa.fa-flickr
						flickr
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/foursquare"}
						%i.fa.fa-foursquare
						foursquare
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/empire"}
						%i.fa.fa-ge
						ge
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/git"}
						%i.fa.fa-git
						git
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/git-square"}
						%i.fa.fa-git-square
						git-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/github"}
						%i.fa.fa-github
						github
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/github-alt"}
						%i.fa.fa-github-alt
						github-alt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/github-square"}
						%i.fa.fa-github-square
						github-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/gittip"}
						%i.fa.fa-gittip
						gittip
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/google"}
						%i.fa.fa-google
						google
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/google-plus"}
						%i.fa.fa-google-plus
						google-plus
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/google-plus-square"}
						%i.fa.fa-google-plus-square
						google-plus-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/hacker-news"}
						%i.fa.fa-hacker-news
						hacker-news
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/html5"}
						%i.fa.fa-html5
						html5
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/instagram"}
						%i.fa.fa-instagram
						instagram
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/joomla"}
						%i.fa.fa-joomla
						joomla
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/jsfiddle"}
						%i.fa.fa-jsfiddle
						jsfiddle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/linkedin"}
						%i.fa.fa-linkedin
						linkedin
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/linkedin-square"}
						%i.fa.fa-linkedin-square
						linkedin-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/linux"}
						%i.fa.fa-linux
						linux
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/maxcdn"}
						%i.fa.fa-maxcdn
						maxcdn
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/openid"}
						%i.fa.fa-openid
						openid
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pagelines"}
						%i.fa.fa-pagelines
						pagelines
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pied-piper"}
						%i.fa.fa-pied-piper
						pied-piper
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pied-piper-alt"}
						%i.fa.fa-pied-piper-alt
						pied-piper-alt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pied-piper"}
						%i.fa.fa-pied-piper-square
						pied-piper-square
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pinterest"}
						%i.fa.fa-pinterest
						pinterest
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pinterest-square"}
						%i.fa.fa-pinterest-square
						pinterest-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/qq"}
						%i.fa.fa-qq
						qq
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rebel"}
						%i.fa.fa-ra
						ra
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rebel"}
						%i.fa.fa-rebel
						rebel
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/reddit"}
						%i.fa.fa-reddit
						reddit
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/reddit-square"}
						%i.fa.fa-reddit-square
						reddit-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/renren"}
						%i.fa.fa-renren
						renren
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share-alt"}
						%i.fa.fa-share-alt
						share-alt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/share-alt-square"}
						%i.fa.fa-share-alt-square
						share-alt-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/skype"}
						%i.fa.fa-skype
						skype
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/slack"}
						%i.fa.fa-slack
						slack
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/soundcloud"}
						%i.fa.fa-soundcloud
						soundcloud
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/spotify"}
						%i.fa.fa-spotify
						spotify
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/stack-exchange"}
						%i.fa.fa-stack-exchange
						stack-exchange
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/stack-overflow"}
						%i.fa.fa-stack-overflow
						stack-overflow
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/steam"}
						%i.fa.fa-steam
						steam
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/steam-square"}
						%i.fa.fa-steam-square
						steam-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/stumbleupon"}
						%i.fa.fa-stumbleupon
						stumbleupon
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/stumbleupon-circle"}
						%i.fa.fa-stumbleupon-circle
						stumbleupon-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tencent-weibo"}
						%i.fa.fa-tencent-weibo
						tencent-weibo
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/trello"}
						%i.fa.fa-trello
						trello
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tumblr"}
						%i.fa.fa-tumblr
						tumblr
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/tumblr-square"}
						%i.fa.fa-tumblr-square
						tumblr-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/twitter"}
						%i.fa.fa-twitter
						twitter
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/twitter-square"}
						%i.fa.fa-twitter-square
						twitter-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/vimeo-square"}
						%i.fa.fa-vimeo-square
						vimeo-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/vine"}
						%i.fa.fa-vine
						vine
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/vk"}
						%i.fa.fa-vk
						vk
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/weixin"}
						%i.fa.fa-wechat
						wechat
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/weibo"}
						%i.fa.fa-weibo
						weibo
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/weixin"}
						%i.fa.fa-weixin
						weixin
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/windows"}
						%i.fa.fa-windows
						windows
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/wordpress"}
						%i.fa.fa-wordpress
						wordpress
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/xing"}
						%i.fa.fa-xing
						xing
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/xing-square"}
						%i.fa.fa-xing-square
						xing-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/yahoo"}
						%i.fa.fa-yahoo
						yahoo
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/youtube"}
						%i.fa.fa-youtube
						youtube
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/youtube-play"}
						%i.fa.fa-youtube-play
						youtube-play
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/youtube-square"}
						%i.fa.fa-youtube-square
						youtube-square
		#tab7.tab-pane
			%h3
				File Type
				%span.fw-semi-bold Icons
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file"}
						%i.fa.fa-file
						file
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-archive-o"}
						%i.fa.fa-file-archive-o
						file-archive-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-audio-o"}
						%i.fa.fa-file-audio-o
						file-audio-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-code-o"}
						%i.fa.fa-file-code-o
						file-code-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-excel-o"}
						%i.fa.fa-file-excel-o
						file-excel-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-image-o"}
						%i.fa.fa-file-image-o
						file-image-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-video-o"}
						%i.fa.fa-file-movie-o
						file-movie-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-o"}
						%i.fa.fa-file-o
						file-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-pdf-o"}
						%i.fa.fa-file-pdf-o
						file-pdf-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-image-o"}
						%i.fa.fa-file-photo-o
						file-photo-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-image-o"}
						%i.fa.fa-file-picture-o
						file-picture-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-powerpoint-o"}
						%i.fa.fa-file-powerpoint-o
						file-powerpoint-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-audio-o"}
						%i.fa.fa-file-sound-o
						file-sound-o
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-text"}
						%i.fa.fa-file-text
						file-text
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-text-o"}
						%i.fa.fa-file-text-o
						file-text-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-video-o"}
						%i.fa.fa-file-video-o
						file-video-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-word-o"}
						%i.fa.fa-file-word-o
						file-word-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/file-archive-o"}
						%i.fa.fa-file-zip-o
						file-zip-o
						%span.text-muted (alias)
			%h3
				Form Control
				%span.fw-semi-bold Icons
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/check-square"}
						%i.fa.fa-check-square
						check-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/check-square-o"}
						%i.fa.fa-check-square-o
						check-square-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/circle"}
						%i.fa.fa-circle
						circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/circle-o"}
						%i.fa.fa-circle-o
						circle-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/dot-circle-o"}
						%i.fa.fa-dot-circle-o
						dot-circle-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/minus-square"}
						%i.fa.fa-minus-square
						minus-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/minus-square-o"}
						%i.fa.fa-minus-square-o
						minus-square-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/plus-square"}
						%i.fa.fa-plus-square
						plus-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/plus-square-o"}
						%i.fa.fa-plus-square-o
						plus-square-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/square"}
						%i.fa.fa-square
						square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/square-o"}
						%i.fa.fa-square-o
						square-o
			%h3
				Currency
				%span.fw-semi-bold Icons
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/btc"}
						%i.fa.fa-bitcoin
						bitcoin
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/btc"}
						%i.fa.fa-btc
						btc
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/jpy"}
						%i.fa.fa-cny
						cny
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/usd"}
						%i.fa.fa-dollar
						dollar
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/eur"}
						%i.fa.fa-eur
						eur
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/eur"}
						%i.fa.fa-euro
						euro
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/gbp"}
						%i.fa.fa-gbp
						gbp
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/inr"}
						%i.fa.fa-inr
						inr
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/jpy"}
						%i.fa.fa-jpy
						jpy
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/krw"}
						%i.fa.fa-krw
						krw
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/money"}
						%i.fa.fa-money
						money
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/jpy"}
						%i.fa.fa-rmb
						rmb
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rub"}
						%i.fa.fa-rouble
						rouble
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rub"}
						%i.fa.fa-rub
						rub
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/rub"}
						%i.fa.fa-ruble
						ruble
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/inr"}
						%i.fa.fa-rupee
						rupee
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/try"}
						%i.fa.fa-try
						try
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/try"}
						%i.fa.fa-turkish-lira
						turkish-lira
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/usd"}
						%i.fa.fa-usd
						usd
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/krw"}
						%i.fa.fa-won
						won
						%span.text-muted (alias)
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/jpy"}
						%i.fa.fa-yen
						yen
						%span.text-muted (alias)
			%h3
				Video Player
				%span.fw-semi-bold Icons
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/arrows-alt"}
						%i.fa.fa-arrows-alt
						arrows-alt
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/backward"}
						%i.fa.fa-backward
						backward
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/compress"}
						%i.fa.fa-compress
						compress
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/eject"}
						%i.fa.fa-eject
						eject
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/expand"}
						%i.fa.fa-expand
						expand
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/fast-backward"}
						%i.fa.fa-fast-backward
						fast-backward
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/fast-forward"}
						%i.fa.fa-fast-forward
						fast-forward
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/forward"}
						%i.fa.fa-forward
						forward
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/pause"}
						%i.fa.fa-pause
						pause
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/play"}
						%i.fa.fa-play
						play
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/play-circle"}
						%i.fa.fa-play-circle
						play-circle
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/play-circle-o"}
						%i.fa.fa-play-circle-o
						play-circle-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/step-backward"}
						%i.fa.fa-step-backward
						step-backward
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/step-forward"}
						%i.fa.fa-step-forward
						step-forward
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/stop"}
						%i.fa.fa-stop
						stop
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/youtube-play"}
						%i.fa.fa-youtube-play
						youtube-play
			%h3
				Medical
				%span.fw-semi-bold Icons
			.row.icon-list
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/ambulance"}
						%i.fa.fa-ambulance
						ambulance
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/h-square"}
						%i.fa.fa-h-square
						h-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/hospital-o"}
						%i.fa.fa-hospital-o
						hospital-o
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/medkit"}
						%i.fa.fa-medkit
						medkit
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/plus-square"}
						%i.fa.fa-plus-square
						plus-square
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/stethoscope"}
						%i.fa.fa-stethoscope
						stethoscope
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/user-md"}
						%i.fa.fa-user-md
						user-md
				.icon-list-item.col-md-3.col-sm-4
					%a{:href => "../icon/wheelchair"}
						%i.fa.fa-wheelchair
						wheelchair
