%h2.page-title
	%span.fw-semi-bold Responsive
	Grid
	%small Fully responsive layout
.row
	.col-md-6.col-md-offset-3
		%section.widget.tiny
			%header
				%h4
					Col-md-8 widget
			.body
				%blockquote.blockquote-sm
					Looks great with
					%code .col-md-offset-2
.row
	.col-md-10.col-md-offset-1
		%section.widget.tiny
			%header
				%h4
					The same with 10
			.body
				%blockquote.blockquote-sm
					Looks great with
					%code .col-md-offset-1
.row
	.col-md-5
		%section.widget.tiny-x2
			%header
				%h4
					Col-md-5
			.body
	.col-md-4
		%section.widget.tiny
			%header
				%h4
					Col-md-4
			.body
		%section.widget.tiny
			%header
				%h4
					Col-md-4
			.body
	.col-md-3
		%section.widget.tiny
			%header
				%h4
					Col-md-3
			.body
		%section.widget.tiny
			%header
				%h4
					Col-md-3
			.body
