%script#settings-template{:type => "text/template"}
	.setting.clearfix
		%div Background
		#background-toggle.pull-left.btn-group{"data-toggle" => "buttons-radio"}
			%button{:class => "btn btn-sm btn-default active", "data-value" => "dark", :type => "button"} Dark
			%button{:class => "btn btn-sm btn-default", "data-value" => "light", :type => "button"} Light
	.setting.clearfix
		%div Sidebar on the
		#sidebar-toggle.pull-left.btn-group{"data-toggle" => "buttons-radio"}
			%button{:class => "btn btn-sm btn-default active", "data-value" => "left", :type => "button"} Left
			%button{:class => "btn btn-sm btn-default", "data-value" => "right", :type => "button"} Right
	.setting.clearfix
		%div Sidebar
		#display-sidebar-toggle.pull-left.btn-group{"data-toggle" => "buttons-radio"}
			%button{:class => "btn btn-sm btn-default active", "data-value" => "true", :type => "button"} Show
			%button{:class => "btn btn-sm btn-default", "data-value" => "false", :type => "button"} Hide
	.setting.clearfix
		%div White Version
		%div
			%a.btn.btn-sm.btn-default{:href => "../transparent/index.html"}
				\&nbsp; Switch &nbsp;
				%i.fa.fa-angle-right
%script#sidebar-settings-template{:type => "text/template"}
	%button.btn-icons.btn.btn-transparent.btn-sm{"data-value" => "icons", :type => "button"} Icons
	%button.btn-auto.btn.btn-transparent.btn-sm{"data-value" => "auto", :type => "button"} Auto
%script#message-template{:type => "text/template"}
	.sender.pull-left
		.icon
			%img.img-circle{:alt => "", :src => "img/2.jpg"}
		.time
			just now
	.chat-message-body
		%span.arrow
		.sender
			%a{:href => "#"} Tikhon Laninga
		.text
			some text
%script#template-upload{:type => "text/x-tmpl"}
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	%tr.template-upload.fade
		%td
			%span.preview
		%td
			%p.name {%=file.name%}
			%strong.error.text-danger
		%td
			%p.size Processing...
			.progress.progress-xs.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar"}
				.progress-bar.progress-bar-success{:style => "width:0%;"}
		%td
			{% if (!i && !o.options.autoUpload) { %}
			%button.btn.btn-primary.btn-sm.start{:disabled => ""}
				%i.glyphicon.glyphicon-upload
				%span Start
			{% } %}
			{% if (!i) { %}
			%button.btn.btn-warning.btn-sm.cancel
				%i.glyphicon.glyphicon-ban-circle
				%span Cancel
			{% } %}
	{% } %}
/ The template to display files available for download
%script#template-download{:type => "text/x-tmpl"}
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	%tr.template-download.fade
		%td
			%span.preview
				{% if (file.thumbnailUrl) { %}
				%a{"data-gallery" => "", :download => "{%=file.name%}", :href => "{%=file.url%}", :title => "{%=file.name%}"}
					%img{:src => "{%=file.thumbnailUrl%}"}/
				{% } %}
		%td
			%p.name
				{% if (file.url) { %}
				<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}
				{% } else { %}
				%span {%=file.name%}
				{% } %}
			{% if (file.error) { %}
			%div
				%span.label.label-danger Error
				{%=file.error%}
			{% } %}
		%td
			%span.size {%=o.formatFileSize(file.size)%}
		%td
			{% if (file.deleteUrl) { %}
			<button class="btn btn-danger btn-sm delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
			%i.glyphicon.glyphicon-trash
			%span Delete
			{% } else { %}
			%button.btn.btn-warning.btn-sm.cancel
				%i.glyphicon.glyphicon-ban-circle
				%span Cancel
			{% } %}
	{% } %}
