%nav#sidebar.sidebar.nav-collapse.collapse
	%ul#side-nav.side-nav
		%li
			%a{:href => root_path}
				%i.fa.fa-home
				%span.name Dashboard
		%li.panel
			%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#forms-collapse"}
				%i.fa.fa-pencil
				%span.name Forms
			%ul#forms-collapse.panel-collapse.collapse
				%li
					%a{:href => example_path("forms_account")} Account
				%li
					%a{:href => example_path("forms_article")} Article
				%li
					%a{:href => example_path("forms_elements")} Elements
				%li
					%a{:href => example_path("forms_validation")} Validation
				%li
					%a{:href => example_path("forms_wizard")} Wizard
		%li.panel
			%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#stats-collapse"}
				%i.fa.fa-area-chart
				%span.name Statistics
			%ul#stats-collapse.panel-collapse.collapse
				%li
					%a{:href => example_path("stats_stats")} Stats
				%li
					%a{:href => example_path("stats_charts")} Charts
				%li
					%a{:href => example_path("stats_realtime")} Realtime
		%li.panel
			%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#ui-collapse"}
				%i.fa.fa-magic
				%span.name User Interface
			%ul#ui-collapse.panel-collapse.collapse
				%li
					%a{:href => example_path("ui_buttons")} Buttons
				%li
					%a{:href => example_path("ui_dialogs")} Dialogs
				%li
					%a{:href => example_path("ui_notifications")} Notifications
				%li
					%a{:href => example_path("ui_icons")} Icons
				%li
					%a{:href => example_path("ui_tabs")} Tabs
				%li
					%a{:href => example_path("ui_accordion")} Accordion
		%li.panel
			%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#components-collapse"}
				%i.fa.fa-tree
				%span.name Components
			%ul#components-collapse.panel-collapse.collapse
				%li
					%a{:href => example_path("components_calendar")} Calendar
					%li
						%a{"data-no-pjax" => "", :href => example_path("components_maps")} Maps
					%li
						%a{:href => example_path("components_gallery")} Gallery
					%li
						%a{"data-no-pjax" => "", :href => example_path("components_fileupload")} Fileupload
					%li
						%a{:href => example_path("components_bootstrap")} Bootstrap
					%li
						%a{:href => example_path("components_listgroups")} List Groups
			%li.panel
				%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#tables-collapse"}
					%i.fa.fa-cog
					%span.name Tables
				%ul#tables-collapse.panel-collapse.collapse
					%li
						%a{:href => example_path("tables_static")}
							Static
							%sup.text-danger.fw-bold upd
					%li
						%a{:href => example_path("tables_dynamic")} Dynamic
			%li.panel.active
				%a.accordion-toggle{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#grid-collapse"}
					%i.fa.fa-th
					%span.name Widgets
				%ul#grid-collapse.panel-collapse.collapse.in
					%li.active
						%a{:href => example_path("widgets_basic")} Basic
					%li
						%a{:href => example_path("widgets_live")} Live
			%li.panel
				%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#special-collapse"}
					%i.fa.fa-leaf
					%span.name Special
				%ul#special-collapse.panel-collapse.collapse
					%li
						%a{:href => example_path("special_search")}
							Search
							%sup.text-warning.fw-bold new
					%li
						%a{:href => example_path("special_invoice")} Invoice
					%li
						%a{:href => example_path("special_login"), :target => "_blank"} Login
					%li
						%a{:href => example_path("special_error"), :target => "_blank"} Error Page
					%li
						%a{"data-no-pjax" => "", :href => example_path("special_landing")} Landing
			%li.panel
				%a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#menu-levels-collapse"}
					%i.fa.fa-folder-open
					%span.name Menu Levels
				%ul#menu-levels-collapse.panel-collapse.collapse
					%li
						%a{:href => "#"} Item 1.1
					%li
						%a{:href => "#"} Item 1.2
					%li.panel
						%a.accordion-toggle.collapsed{"data-parent" => "#menu-levels-collapse", "data-toggle" => "collapse", :href => "#sub-menu-1-collapse"} Item 1.3
						%ul#sub-menu-1-collapse.panel-collapse.collapse
							%li.panel
								%a.accordion-toggle.collapsed{"data-parent" => "#sub-menu-1-collapse", "data-toggle" => "collapse", :href => "#sub-menu-3-collapse"} Item 2.1
								%ul#sub-menu-3-collapse.panel-collapse.collapse
									%li
										%a{:href => "#"} Item 3.1
									%li
										%a{:href => "#"} Item 3.2
									%li
										%a{:href => "#"} Item 3.3
							%li
								%a{:href => "#"} Item 2.2
							%li.panel
								%a.accordion-toggle.collapsed{"data-parent" => "#sub-menu-1-collapse", "data-toggle" => "collapse", :href => "#sub-menu-2-collapse"} Item 2.3
								%ul#sub-menu-2-collapse.panel-collapse.collapse
									%li
										%a{:href => "#"} Item 3.4
									%li
										%a{:href => "#"} Item 3.5
									%li
										%a{:href => "#"} Item 3.6
			%li.visible-xs
				%a{:href => "login.html"}
					%i.fa.fa-sign-out
					%span.name Sign Out
		%h5.sidebar-nav-title
			Labels
			%a.action-link{:href => "#"}
				%i.glyphicon.glyphicon-plus
		%ul.sidebar-labels
			%li
				%a{:href => "#"}
					/ yep, .circle again
					%i.fa.fa-circle.text-warning
					%span.label-name My Recent
			%li
				%a{:href => "#"}
					%i.fa.fa-circle.text-gray
					%span.label-name Starred
			%li
				%a{:href => "#"}
					%i.fa.fa-circle.text-danger
					%span.label-name Background
		%h5.sidebar-nav-title Projects
		.sidebar-alerts
			.alert.fade.in
				%a.close{"aria-hidden" => "true", "data-dismiss" => "alert", :href => "#"} &times;
				%span.text-white.fw-semi-bold Sales Report
				%br
					.progress.progress-xs.mt-xs.mb-0
						.progress-bar.progress-bar-gray-light{:style => "width: 16%"}
					%small Calculating x-axis bias... 65%
			.alert.fade.in
				%a.close{"aria-hidden" => "true", "data-dismiss" => "alert", :href => "#"} &times;
				%span.text-white.fw-semi-bold Personal Responsibility
				%br
					.progress.progress-xs.mt-xs.mb-0
						.progress-bar.progress-bar-danger{:style => "width: 23%"}
					%small Provide required notes
